<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>site</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>

        <div class="sidebar">
            <a class="active" href="home">COLOR'LANGUAGE</a>
            <a href="home">HOME</a>
            <a href="languages">LANGUAGE</a>
            <a href="error404">ERROR 404</a>
            <a href="chat">CHAT</a>
        </div>
    </body>
</html>