<%- include('partials/sidebar'); -%>

<style>
    .left {
        float: left;
        width: 80%;
        height: 100%;
    }
</style>

<body>
    <div class="container">
        <div><h1>FRENSH </h1></div>
        <div class="left">
            <h3>A world language.</h3>
            <p>More than 300 million people speak French on the five continents. The OIF, an international organisation of French-speaking countries, 
                comprises 88 member States and governments. French is the second most widely learned foreign language after English, and the fifth most widely spoken language in the world.</p>
            <h3>A language for the job market</h3>
            <p>An ability to speak French and English is an advantage on the international job market. A knowledge of French opens the doors of French companies in France and other French-speaking parts of 
                the world (Canada, Switzerland, Belgium, and the continent of Africa). As the world’s fifth biggest economy and third-ranking destination for foreign investment, France is a key economic partner.</p>
            <h3>The language of culture</h3>
            <p>French is the international language of cooking, fashion, theatre, the visual arts, dance and architecture. A knowledge of French offers access to great works of literature in the original French, 
                as well as films and songs. French is the language of Victor Hugo, Molière, Léopold Sendar Senghor, Edith Piaf, Jean-Paul Sartre, Alain Delon and Zinedine Zidane.</p>
        </div>
    </div>
</body>