<%- include('partials/sidebar'); -%>

<style>
    .left {
        float: left;
        width: 80%;
        height: 100%;
    }
</style>

<body>
    <div class="container">
        <div>
            <h1>KOREAN </h1>
        </div>
        <div class="left">
            <h3>Korean Is Useful.</h3>
            <p>There are more than 75 million people who speak Korean. And it ranks as 18th in the most used languages
                in the world. This makes the language useful for travel, or business. </p>
            <h3>It’s Easy to Learn.</h3>
            <p>You may think that Korean is hard to learn because it has a different writing system. But learning Hangul,
                the Korean alphabet, is very easy. The Korean language is considered to have the most logical system of
                writing in the world. Hangul didn’t slowly evolve. Instead, it was purposefully crafted to fit the
                speech of the language perfectly. King Sejong, who ruled during the Joseon dynasty, is the mastermind
                current system. Before it was introduced, people would substitute Chinese characters for Korean.</p>
                <h3>Speaking korean is easy !</h3>
                <p>As we mentioned before, the Korean alphabet is built on the sounds of the language. Thanks to the
                    phonetic letters, Korean pronunciation is very logical. You pronounce everything that’s written.
                    Whenever you think that speaking Korean is difficult, think of how much worse other languages have
                    it.</p>
        </div>
    </div>
</body>