<%- include('partials/sidebar'); -%>

<style>
    .left {
        float: left;
        width: 90%;
        height: 100%;
    }
</style>

<body>
    <div class="container">
        <div>
            <h1>THAI </h1>
        </div>
        <div class="left">
            <h3>Connect with over 60 million speakers.</h3>
            <p>Nearly 70 million people speak Thai as a native or second language, Thailand’s only official language.
                The majority population, roughly 88% of the country, speaks this language.

                There are global Thai communities. For example, you can find a sizeable number of Thai speakers in Laos,
                the USA, South Korea, China, Myanmar, etc. This is yet an excellent reason to learn Thai.

                Most Thai people don’t speak English or other foreign languages, particularly outside the big cities. So
                you will have limited people to talk to and understand different aspects of the country without the Thai
                language.</p>
            <h3>An unique language.</h3>
            <p>Spanish, French, German, Chinese, and Japanese are some of the world’s most widely studied second
                languages.

                Thai is something special that is not widespread, with very few people studying it.
                So you will speak a language that makes you stand out in the crowd!</p>
            <h3>Understand Thai people & the culture !</h3>
            <p>Languages and cultures are usually closely connected.

                It implies that the better you understand the Thai language, its nuances, expressions, idioms, or
                vocabulary, the better you will know its culture.

                Learning Thai is a gateway to understanding the people of Thai better and essential aspects of their
                culture, customs, and traditions.

                And honestly, people love it when somebody attempts to learn their language. They are always supportive.
                It also gives you an easy card to make friends. Not only that, but it will earn you a lot of respect.
            </p>
        </div>
    </div>
</body>